body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f5fc;
    width: 1440;
    height: 1024;
}

.title {
    position: absolute;
    color: #0a3871;
    font-size: 48px;
    font-weight: bold;
    top: 40px;
    left: 40px;
    width: 164px;
    height: 48px;
}

#textIn {
    background-color: #f3f5fc;
    color: #0a3871;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: justify;
    position: absolute;
    top: 168px;
    left: 240px;
    width: 577px;
    height: auto;
    border: none;
    resize: none;
    outline: none;
}

.rules {
    position: absolute;
    font-size: 14px;
    top: 851px;
    left: 240px;
    width: 252px;
    height: 18px;
}

.buttonArea {
    position: absolute;
    top: 927px;
    left: 240px;
    width: 680px;
    height: 67px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}

#encrypt {
    color: #f3f5fc;
    font-size: 16px;
    background-color: #0a3871;
    border-radius: 24px;
}

#decrypt {
    color: #0a3871;
    font-size: 16px;
    background-color: #d8dfe8;
    border-radius: 24px;
}

#initoutput {
    background: #ffffff;
    position: absolute;
    top: 40px;
    left: 1000px;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    padding: 32px;
}

#initoutput img {
    position: relative;
    top: 233px;
    left: 32px;
}

#initoutput .box {
    position: relative;
    top: 286px;
    left: 32px;
    width: 336px;
    height: 122px;
    display: grid;
    gap: 16px;
}

#initoutput h2 {
    color: #0a3871;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#initoutput p {
    color: #0a3871;
    font-size: 16px;
    text-align: center;
}

#finaloutput {
    background: #ffffff;
    position: absolute;
    top: 40px;
    left: 1000px;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    padding: 32px;
}

#finaloutput textarea {
    background: white;
    color: #0a3871;
    font-size: 24px;
    text-align: justify;
    background: #ffffff;
    border: none;
    resize: none;
    outline: none;
}

#copytext {
    color: #0a3871;
    font-size: 16px;
    background-color: #ffffff;
    position:absolute;
    width: 336px;
    height: 67px;
    top: 887px;
    left: 64px;
    border-radius: 24px;
}

footer {
    position: absolute;
    text-align: center;
    top: 1040px;
    left: 600px;
}

::placeholder {
    color: #0a3871;
}