body {
    background-color: lightblue;
    width: 1440px;
    height: 1024px;
}

.output {
    position: absolute;
    left: 1040px;
    top: 10px;
}

#textIn{
    background-color: lightblue;
    border: none;
}

#textOut {
    background-color: white;
    border-color: white;
    border-radius: 10px;
}